# Copie ce fichier en .env et remplis les valeurs

# Django
SECRET_KEY=change-me-generate-a-real-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Groq API (https://console.groq.com/keys)
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile

# Domaine utilisé pour générer les URLs publiques / QR codes en production
SITE_DOMAIN=127.0.0.1:8000
